* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.top-bar {
    width: 100%;
    padding: 15px;
    text-align: center;
}
.top-bar button{
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    text-align: center;
}
header {
    width: 100%;
    padding: 25px 15px;
    text-align: center;
}

header h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

header button {
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.cards {
    display: flex;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 230px;
    padding: 30px 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    overflow: hidden;
    border: #00c6ff 2px solid;
}

.card h2 {
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.card p {
    font-size: 32px;
    font-weight: bold;
}

footer {
    margin-top: auto;
    padding: 20px;
    font-size: 13px;
    opacity: 0.6;
}
